
ion-input {
    font-size: 25px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;
  }

  .input {
      margin: 10px 0
  }
.label {
    font-size: 20px;
}
.validation{
    color: #f44336;
    font-size: 16px;
    font-weight: 400;
}
.grow {
    flex-grow: 1;
}

.rounded {
    border-radius: 50%;
}

.mb-25 {
    padding-bottom: 100px;
}