h1 {
  font-size: 20px;
  border: 1px solid whitesmoke;
  padding: 8px;
  border-radius: 5px;
  color: whitesmoke;
}

.text-center {
  text-align: center;
}

.offer-details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date {
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}
.calendar {
  margin: 0 1px;
  font-size: 25px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.rounded-image {
  border-radius: 50%;
}