h1 {
  font-size: 20px;
  border: 1px solid whitesmoke;
  padding: 8px;
  border-radius: 5px;
  padding: 10px;
  color: whitesmoke;
}

.text-center {
  text-align: center;
}

.offer-details {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.date {
  margin: auto;
  font-size: 14px;
  font-weight: 500;
}

.mid {
  margin: 0 1px;
  font-size: 10px;
}

.calendar {
  margin: 0 1px;
}